<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="registro">
    <th mat-header-cell *matHeaderCellDef> Matricula </th>
    <td mat-cell *matCellDef="let element"> {{element.registro}} </td>
  </ng-container>

  <ng-container matColumnDef="av1">
    <th mat-header-cell *matHeaderCellDef> Avaliação 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.av1}} </td>
  </ng-container>

  <ng-container matColumnDef="av2">
    <th mat-header-cell *matHeaderCellDef> Avaliação 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.av2}} </td>
  </ng-container>

  <ng-container matColumnDef="av3">
    <th mat-header-cell *matHeaderCellDef> Avaliação 3 </th>
    <td mat-cell *matCellDef="let element"> {{element.av3}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">
    <button nbTooltip="Editar" nbTooltipPlacement="left" nbTooltipStatus="info" nbButton size="tiny" outline status="info"
     [routerLink]="['/controls', element.registro]"
     >

      <mat-icon aria-hidden="false" aria-label="Example home icon">mode_edit</mat-icon>
    </button>

      <!-- <button nbTooltip="Excluir" nbTooltipPlacement="right" nbTooltipStatus="danger" class="ml-2 btn-desktop-actions"
        nbButton size="tiny" (click)="openConfirmation(element, dialog)" outline status="danger">
        <nb-icon icon="trash-2-outline"></nb-icon>
      </button> -->
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
