<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/students" routerLinkActive="active" class="item">Students</a>
    <a routerLink="/teachers" routerLinkActive="active" class="item">Teachers</a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
