<mat-card>
  <mat-card-content>
    <section>
      <form [formGroup]="studentForm">
        <mat-form-field class="form-field">
          <input readonly matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input readonly matInput placeholder="Registro" type="number" formControlName="registro">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="AV1" formControlName="av1">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="AV2" formControlName="av2">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="AV3" formControlName="av3">
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="save()">
          <mat-icon>check</mat-icon>
        </button>
      </form>
    </section>
  </mat-card-content>
</mat-card>

<pre>{{studentForm.value|json}}</pre>
